// http://getbootstrap.com/examples/dashboard/

include ../mixins/dashboard/dashboardNav

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description", content="")
        meta(name="author", content="")
        block title
            title Jacoss Dashboard
    body
        block dashboardNav
            +dashboardNav()

        .container-fluid
            .row
                block dashboardSidebar
                block dashboardContent
